<section class="section_discover">
  <div class="padding-section-xlarge"></div>
  <div class="padding-global">
    <div class="container-medium">
      <div class="discover_component">
        <div class="z-index-2">
          <div class="text-align-center"><h2 class="heading-style-h1"><span
                class="heading_span-1">Discover our</span><span class="heading_span-2">desktop &nbsp;apps</span>
            </h2></div>
        </div>
        <div class="padding-top padding-huge"></div>
        <div class="discover_items"><a href="/compress" class="discover_item w-inline-block">
            <div class="menu_drop-image-wrap"><img
                src="https://assets-global.website-files.com/60d0c29c2e1261708dd228ea/64946ea0be1ba732e2580116_compress.webp"
                loading="eager" sizes="(max-width: 991px) 80px, (max-width: 1439px) 30vw, 384px"
                srcset="https://assets-global.website-files.com/60d0c29c2e1261708dd228ea/64946ea0be1ba732e2580116_compress-p-500.png 500w, https://assets-global.website-files.com/60d0c29c2e1261708dd228ea/64946ea0be1ba732e2580116_compress.webp 576w"
                alt="" class="menu_drop-image"
                style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
            </div>
            <div class="menu_drop-texts-wrap">
              <div class="menu_drop-texts">
                <div class="text-color-white">
                  <div class="heading-style-h5 tablet-style-button" style="opacity: 1;">Compress Videos</div>
                </div>
                <div class="text-color-white hide-tablet">
                  <div class="text-size-small">Optimize your videos for free with ease, and enjoy hassle-free
                    other.
                  </div>
                </div>
              </div>
              <div class="menu_drop-arrow-wrap" style="background-color: rgb(64, 48, 84);"><img
                  src="https://assets-global.website-files.com/60d0c29c2e1261708dd228ea/6489e2e0d386977c05f1a7cc_Icon-arrow-link.svg"
                  loading="lazy" alt="Arrow link" class="menu_drop-arrow _1"
                  style="transform: translate3d(0%, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"><img
                  src="https://assets-global.website-files.com/60d0c29c2e1261708dd228ea/6489e2e0d386977c05f1a7cc_Icon-arrow-link.svg"
                  loading="lazy" alt="Arrow link" class="menu_drop-arrow _2"
                  style="transform: translate3d(-100%, 100%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
              </div>
            </div>
          </a><a href="/eye-contact" class="discover_item w-inline-block">
            <div class="menu_drop-image-wrap"><img
                src="https://assets-global.website-files.com/60d0c29c2e1261708dd228ea/64b9512b01cf0a1904958ea1_AI-eye-contact.webp"
                loading="eager" sizes="(max-width: 991px) 80px, (max-width: 1439px) 30vw, 384px"
                srcset="https://assets-global.website-files.com/60d0c29c2e1261708dd228ea/64b9512b01cf0a1904958ea1_AI-eye-contact-p-500.webp 500w, https://assets-global.website-files.com/60d0c29c2e1261708dd228ea/64b9512b01cf0a1904958ea1_AI-eye-contact.webp 768w"
                alt="" class="menu_drop-image"
                style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
            </div>
            <div class="menu_drop-texts-wrap">
              <div class="menu_drop-texts">
                <div class="text-color-white">
                  <div class="heading-style-h5 tablet-style-button" style="opacity: 1;">AI Eye Contact</div>
                </div>
                <div class="text-color-white hide-tablet">
                  <div class="text-size-small">With Captions, you can correct for eye contact directly in
                    post-production.
                  </div>
                </div>
              </div>
              <div class="menu_drop-arrow-wrap" style="background-color: rgb(64, 48, 84);"><img
                  src="https://assets-global.website-files.com/60d0c29c2e1261708dd228ea/6489e2e0d386977c05f1a7cc_Icon-arrow-link.svg"
                  loading="lazy" alt="Arrow link" class="menu_drop-arrow _1"
                  style="transform: translate3d(0%, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"><img
                  src="https://assets-global.website-files.com/60d0c29c2e1261708dd228ea/6489e2e0d386977c05f1a7cc_Icon-arrow-link.svg"
                  loading="lazy" alt="Arrow link" class="menu_drop-arrow _2"
                  style="transform: translate3d(-100%, 100%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
              </div>
            </div>
          </a><a href="/add-subtitles" class="discover_item w-inline-block">
            <div class="menu_drop-image-wrap"><img
                src="https://assets-global.website-files.com/60d0c29c2e1261708dd228ea/64946ea0be1ba732e258011c_subtitles.webp"
                loading="eager" sizes="(max-width: 991px) 80px, (max-width: 1439px) 30vw, 384px"
                srcset="https://assets-global.website-files.com/60d0c29c2e1261708dd228ea/64946ea0be1ba732e258011c_subtitles-p-500.png 500w, https://assets-global.website-files.com/60d0c29c2e1261708dd228ea/64946ea0be1ba732e258011c_subtitles.webp 576w"
                alt="" class="menu_drop-image"
                style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
            </div>
            <div class="menu_drop-texts-wrap">
              <div class="menu_drop-texts">
                <div class="text-color-white">
                  <div class="heading-style-h5 tablet-style-button" style="opacity: 1;">Add Subtitles</div>
                </div>
                <div class="text-color-white hide-tablet">
                  <div class="text-size-small">Turn your audio into subtitles and captions at the click of a
                    button.
                  </div>
                </div>
              </div>
              <div class="menu_drop-arrow-wrap" style="background-color: rgb(64, 48, 84);"><img
                  src="https://assets-global.website-files.com/60d0c29c2e1261708dd228ea/6489e2e0d386977c05f1a7cc_Icon-arrow-link.svg"
                  loading="lazy" alt="Arrow link" class="menu_drop-arrow _1"
                  style="transform: translate3d(0%, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"><img
                  src="https://assets-global.website-files.com/60d0c29c2e1261708dd228ea/6489e2e0d386977c05f1a7cc_Icon-arrow-link.svg"
                  loading="lazy" alt="Arrow link" class="menu_drop-arrow _2"
                  style="transform: translate3d(-100%, 100%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
              </div>
            </div>
          </a><a href="/dev/translate" class="discover_item hide w-inline-block">
            <div class="menu_drop-image-wrap"><img
                src="https://assets-global.website-files.com/60d0c29c2e1261708dd228ea/64946ea0be1ba732e2580119_translate.webp"
                loading="eager" sizes="100vw"
                srcset="https://assets-global.website-files.com/60d0c29c2e1261708dd228ea/64946ea0be1ba732e2580119_translate-p-500.png 500w, https://assets-global.website-files.com/60d0c29c2e1261708dd228ea/64946ea0be1ba732e2580119_translate.webp 576w"
                alt="" class="menu_drop-image"
                style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
            </div>
            <div class="menu_drop-texts-wrap">
              <div class="menu_drop-texts">
                <div class="text-color-white">
                  <div class="heading-style-h5 tablet-style-button" style="opacity: 1;">Translate Captions</div>
                </div>
                <div class="text-color-white hide-tablet">
                  <div class="text-size-small">Translate your audio and captions from one language to 28 others.
                  </div>
                </div>
              </div>
              <div class="menu_drop-arrow-wrap" style="background-color: rgb(64, 48, 84);"><img
                  src="https://assets-global.website-files.com/60d0c29c2e1261708dd228ea/6489e2e0d386977c05f1a7cc_Icon-arrow-link.svg"
                  loading="lazy" alt="Arrow link" class="menu_drop-arrow _1"
                  style="transform: translate3d(0%, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"><img
                  src="https://assets-global.website-files.com/60d0c29c2e1261708dd228ea/6489e2e0d386977c05f1a7cc_Icon-arrow-link.svg"
                  loading="lazy" alt="Arrow link" class="menu_drop-arrow _2"
                  style="transform: translate3d(-100%, 100%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
              </div>
            </div>
          </a><a href="/dev/script-writer" class="discover_item hide w-inline-block">
            <div class="menu_drop-image-wrap"><img
                src="https://assets-global.website-files.com/60d0c29c2e1261708dd228ea/64b95120d8ccf95faff042d3_script-writer.webp"
                loading="eager" sizes="100vw"
                srcset="https://assets-global.website-files.com/60d0c29c2e1261708dd228ea/64b95120d8ccf95faff042d3_script-writer-p-500.webp 500w, https://assets-global.website-files.com/60d0c29c2e1261708dd228ea/64b95120d8ccf95faff042d3_script-writer.webp 768w"
                alt="" class="menu_drop-image"
                style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
            </div>
            <div class="menu_drop-texts-wrap">
              <div class="menu_drop-texts">
                <div class="text-color-white">
                  <div class="heading-style-h5 tablet-style-button" style="opacity: 1;">Script Writer</div>
                </div>
                <div class="text-color-white hide-tablet">
                  <div class="text-size-small">Have an idea? &nbsp;Generate a script with any prompt, &nbsp;example
                    video or article.
                  </div>
                </div>
              </div>
              <div class="menu_drop-arrow-wrap" style="background-color: rgb(64, 48, 84);"><img
                  src="https://assets-global.website-files.com/60d0c29c2e1261708dd228ea/6489e2e0d386977c05f1a7cc_Icon-arrow-link.svg"
                  loading="lazy" alt="Arrow link" class="menu_drop-arrow _1"
                  style="transform: translate3d(0%, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"><img
                  src="https://assets-global.website-files.com/60d0c29c2e1261708dd228ea/6489e2e0d386977c05f1a7cc_Icon-arrow-link.svg"
                  loading="lazy" alt="Arrow link" class="menu_drop-arrow _2"
                  style="transform: translate3d(-100%, 100%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
              </div>
            </div>
          </a></div>
        <img
          src="https://assets-global.website-files.com/60d0c29c2e1261708dd228ea/64832bd99897d3e601bf43c6_bg-cta-blur.svg"
          loading="lazy" alt="" class="discover_bg-blur"></div>
    </div>
  </div>
  <div class="padding-section-xlarge"></div>
</section>
