<header class="section_home-header">
  <div
    class="home-header_border"
    style="
      will-change: transform;
      transform: translate3d(0px, 0px, 0px) scale3d(1.12, 1.12, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg)
        skew(0deg, 0deg);
      transform-style: preserve-3d;
    "
  >
    <div class="home-header_border-y">
      <svg
        class="home-header_border-radius"
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        viewBox="0 0 32 32"
        fill="none"
      >
        <path
          d="M-9.53674e-07 -9.53674e-07V32V32C-9.53674e-07 14.3269 14.3269 -9.53674e-07 32 -9.53674e-07V-9.53674e-07H-9.53674e-07Z"
          fill="#0C0614"
        />
      </svg>
      <svg
        class="home-header_border-radius left-bottom"
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        viewBox="0 0 32 32"
        fill="none"
      >
        <path d="M-9.53674e-07 32V0V0C-9.53674e-07 17.6731 14.3269 32 32 32V32H-9.53674e-07Z" fill="#0C0614"/>
      </svg>
      <div class="home-header_border-extension"></div>
    </div>
    <div class="home-header_border-y right">
      <svg
        class="home-header_border-radius right-top"
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        viewBox="0 0 32 32"
        fill="none"
      >
        <path d="M32 -9.53674e-07V32V32C32 14.3269 17.6731 -9.53674e-07 0 -9.53674e-07V-9.53674e-07H32Z" fill="#0C0614"/>
      </svg>
      <svg
        class="home-header_border-radius right-bottom"
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        viewBox="0 0 32 32"
        fill="none"
      >
        <path d="M32 32V0V0C32 17.6731 17.6731 32 0 32V32H32Z" fill="#0C0614"/>
      </svg>
      <div class="home-header_border-extension right-side"></div>
    </div>
    <div class="home-header_border-x"></div>
    <div class="home-header_border-x bottom"></div>
  </div>
  <div class="padding-global">
    <div class="container-medium">
      <div class="home-header_component">
        <div class="home-header_sticky">
          <div class="home-header_texts">
            <div class="home-header_content">
              <h1 class="home-header_heading">
                <span class="home-header_span-1">Your immersive</span>
                <span class="home-header_span-2">experience studio</span>
              </h1>
              <div class="home-header_description">
                Welcome to CGimmersive.<br/>
                Discover the future of storytelling, now within your reach. Dive into the world of immersive application
                experiences and transform the way you showcase your properties.
              </div>
            </div>
          </div>
          <div class="bg">
            <div class="bg-first"></div>
            <div class="bg-second"></div>
            <div class="bg-third"></div>
          </div>
        </div>
        <div class="home-header_phone-wrap">
          <div class="home-header_video-wrapper">
            <div class="home-header_video" data-src="videos/main.mp4"></div>
            <img
              src="../images/design/tablet-mockup.svg"
              loading="eager"
              alt="Captions App interface"
              class="home-header_app"
              style="will-change: opacity; opacity: 1"
            />
          </div>
        </div>

        <div class="home-header_scroll-spacing">
          <div class="home-intro_component">
            <h2 class="home-intro_title">A new generation of storytelling</h2>
            <div class="home-intro_text">
              Sales begin with emotion. Leave static photos behind and embrace a new dynamic era. Simplify your sales process and elevate your storytelling to unprecedented heights.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
