<section class="section_home-record">
  <div class="container">
    <div class="home-record">
      <div class="home-record_head">
        <h2 class="section-title">Showcase<span>every angle</span></h2>
        <div class="section-description">Empower your clients to lead the discovery of their future home. Offer a
          dynamic and responsive journey, tailored by the viewer’s curiosity and control.
        </div>
      </div>
      <div class="home-record_grid">
        <div class="home-record_block">

          <h3 class="home-record_heading-small">Control camera and playback</h3></div>
        <div class="home-record_block custom-video grid">

        </div>
        <div class="home-record_block">

          <h3 class="home-record_heading-small">Time and weather adjustments</h3>
        </div>

      </div>
    </div>
  </div>
</section>
