<section class="section_home-immersive">
  <div class="home-immersive_sticky-wrapper">
    <div class="home-immersive_sticky">
      <div class="home-immersive_frame"></div>
      <div class="home-immersive_component">
        <video width="100%" height="100%" playsinline autoplay loop muted loading="eager" class="home-immersive_video">
          <source src="https://captions-cdn.xyz/marketing-site/camera-compressed.mp4">
          Your browser does not support the video tag.
        </video>
        <div class="home-immersive_head">
          <div class="section-tag">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="currentColor">
              <rect x="0.5" y="7" width="16" height="2"/>
              <rect x="7.5" width="2" height="16"/>
            </svg>
            <div class="section-tag_label">New Generation of Storytelling</div>
          </div>
          <h2 class="section-title">Immersive experience<span>to goosebumps</span></h2>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="home-immersive_text-block">
      <h2>New Generation of Storytelling</h2>
      <p>Sales start with emotion.Say goodbye to old photos.Simplify the sales process and help to evaluate your sales storytelling to new heights.</p>
    </div>
  </div>
</section>

