<section tr-scrollflip-scrubend="top top" class="section_home-intro">
    <div class="padding-global">
      <div class="container-medium">
        <div class="home-intro_component">
          <div class="tag">
            <div class="tag_circle"></div>
            <div class="text-color-lavender">
              <div class="text-style-label-1">AI Script writer</div>
            </div>
          </div>
          <div class="padding-top padding-custom1"></div>
          <h2 class="text-color-white">It starts <span class="display-block">with an idea</span></h2>
          <div class="padding-top padding-medium"></div>
          <div class="home-intro_text">
            <div class="text-color-body"><p class="text-size-medium">Say goodbye to writer's block. Captions
                simplifies the creative process and helps you elevate your storytelling to new heights.</p></div>
          </div>
        </div>
      </div>
    </div>
    <div class="padding-section-xlarge hide-tablet"></div>
  </section>
