<section class="section_home-devices">
  <div class="bg">
    <div class="bg-first"></div>
    <div class="bg-second"></div>
    <div class="bg-third"></div>
  </div>
  <div class="container">
    <div class="home-devices">
      <div class="home-devices_head">
        <h2 class="section-title">Devices</h2>
        <div class="section-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</div>
      </div>
      <div class="home-devices_body">
        <div class="block">
          <div class="block_src">
            <img src="../images/content/image.jpg" alt="#">
          </div>
          <h3 class="block_title">Desktop</h3>
          <div class="block_description">Let people explore and book houses on your website from the comfort of their homes.</div>
        </div>
        <div class="block">
          <div class="block_src">
            <video width="100%" height="100%" playsinline autoplay loop muted loading="eager">
              <source src="https://static.archivizer.com/uploads/files/file_attachment/file/PPH5R136/CAM16.mp4">
              Your browser does not support the video tag.
            </video>
          </div>
          <h3 class="block_title">Touch Screen</h3>
          <div class="block_description">Conduct successful presentations at your office using a tablet.
          </div>
        </div>
        <div class="block">
          <div class="block_src">
            <video width="100%" height="100%" playsinline autoplay loop muted loading="eager">
              <source src="https://static.archivizer.com/uploads/files/file_attachment/file/PPH5R136/CAM16.mp4">
              Your browser does not support the video tag.
            </video>
          </div>
          <h3 class="block_title">Virtual Reality</h3>
          <div class="block_description">Fully immerse people into the reality of their future home with VR glasses.</div>
        </div>
      </div>
    </div>
  </div>
</section>
