<section class="section_home-grid">

  <div class="container">
    <div class="home-grid">
      <div class="home-grid_head">
        {# <div class="section-tag">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="currentColor">
            <rect x="0.5" y="7" width="16" height="2"/>
            <rect x="7.5" width="2" height="16"/>
          </svg>
          <div class="section-tag_label">New Generation of Storytelling</div>
        </div> #}
        <h2 class="section-title">Unit selection.<span>Showroom.</span>Booking.</h2>
      </div>
      <div class="home-grid_sticky-wrapper">
        <div class="home-grid_sticky">
          <div class="bg">
            <div class="bg-first"></div>
            <div class="bg-second"></div>
          </div>
          <div class="home-grid_component">
            <div class="grid-first">
              <div class="grid-first_top">
                <img
                  src="../images/content/image.jpg"
                  loading="eager" alt="#">

              </div>
              <div class="grid-first_bottom">
                <video playsinline="" autoplay="true" loop="" muted="" loading="eager">
                  <source src="https://captions-cdn.xyz/marketing-site/camera-compressed.mp4">
                  Your browser does not support the video tag.
                </video>
              </div>
            </div>
            <div class="grid-second">
              <video playsinline="" autoplay="true" loop="" muted="" loading="eager">
                <source src="https://captions-cdn.xyz/marketing-site/camera-compressed.mp4">
                Your browser does not support the video tag.
              </video>
            </div>
            <div class="grid-third">
              <div class="grid-third_top">
                <img
                  src="../images/content/image.jpg"
                  loading="eager" alt="#">
              </div>
              <div class="grid-third_bottom">
                <video playsinline="" autoplay="true" loop="" muted="" loading="eager">
                  <source src="https://captions-cdn.xyz/marketing-site/camera-compressed.mp4">
                  Your browser does not support the video tag.
                </video>
              </div>
            </div>
            <div class="grid-fourth"><img
                src="../images/design/tablet.png"
                loading="eager" alt="#"></div>
            <div class="grid-fifth">
              <video playsinline="" autoplay="true" loop="" muted="" loading="eager">
                <source src="https://captions-cdn.xyz/marketing-site/camera-compressed.mp4">
                Your browser does not support the video tag.
              </video>
            </div>
            <div class="grid-sixth">4</div>
            <div class="grid-seventh">6</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

