<section class="section_statistic">
  <div class="container">
    <div class="statistic">
      <div class="statistic_item">
        <div class="statistic_number">460</div>
        <div class="statistic_title">Top-level CGI Artists</div>
      </div>
      <div class="statistic_item">
        <div class="statistic_number">13</div>
        <div class="statistic_title">Years on CGI Market</div>
      </div>
      <div class="statistic_item">
        <div class="statistic_number">39</div>
        <div class="statistic_title">Countries Covered</div>
      </div>
    </div>
  </div>
</section>
