<section class="section_home-exploration">
  <div class="container">
    <div class="home-exploration">
      <div class="home-exploration_sticky-wrapper">
        <div class="home-exploration_sticky">
          <div class="bg">
            <div class="bg-first"></div>
            <div class="bg-second"></div>
            <div class="bg-third"></div>
          </div>
          {# switch #}
          <div class="home-exploration_head" {# style="display: none" #}>
            <h2 class="section-title">Immersive<span>exploration</span></h2>
            <div class="section-description">
              Give your clients full creative power. Let them examine the dwelling from different vantage points, zoom
              in on details, zoom out to the bird's eye view to see where the local amenities are.
            </div>
          </div>
          {# switch #}
          <div class="home-exploration_component" style="display: none">
            <div class="home-exploration_content">
              <div class="home-exploration_texts">
                <div class="home-exploration_text-block">
                  <h3 class="home-exploration_text-title">See the big picture</h3>
                  <div class="home-exploration_text-description">Capture the entire property with a bird's-eye view.
                    Show the layout and scope with a comprehensive overview that sets the stage for deeper exploration.
                  </div>
                </div>
                <div class="home-exploration_text-block" style="display: none">
                  <h3 class="home-exploration_text-title">General view</h3>
                  <div class="home-exploration_text-description">Say goodbye to old photos. Simplify the sales process
                    and help to evaluate your sales
                    storytelling to new heights
                  </div>
                </div>
              </div>
              <div class="home-exploration_progress">
                <div class="home-exploration_progress-line active"></div>
                <div class="home-exploration_progress-line"></div>
              </div>
            </div>
          </div>

          <div class="home-exploration_mockup">
            <img src="../images/design/laptop-closed.png" alt="#" style="/*display: none;*/">
            <img src="../images/design/laptop-halfway.png" alt="#" style="display: none;">
            <img src="../images/design/laptop-opened.png" alt="#" style="display: none;">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

