<section class="section_home-numbers">
  <div class="padding-section-xlarge"></div>
  <div class="padding-global">
    <div class="container-medium">
      <div class="home-numbers_component">
        <div id="w-node-_111a1cd4-3882-bbe9-227f-315efb67a03a-ed74556d" class="home-numbers_item">
          <div class="heading-style-h1"><span class="home-numbers_number first">3M+</span><span
              class="home-numbers_small">Creators</span></div>
        </div>
        <div id="w-node-_111a1cd4-3882-bbe9-227f-315efb67a040-ed74556d" class="home-numbers_item">
          <div class="heading-style-h1"><span class="home-numbers_number second">100K+</span><span
              class="home-numbers_small">Daily Users</span></div>
        </div>
        <div id="w-node-_111a1cd4-3882-bbe9-227f-315efb67a046-ed74556d" class="home-numbers_item">
          <div class="heading-style-h1"><span class="home-numbers_number third">1M+</span><span
              class="home-numbers_small">Monthly Videos</span></div>
        </div>
      </div>
    </div>
  </div>
</section>
