<section class="section_home-exploration">
  <div class="container">
    <div class="home-exploration">
      <div class="home-exploration_sticky-wrapper">
        <div class="home-exploration_sticky">
          <div class="home-exploration_head" style="display: none">
            <div class="section-tag">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="currentColor">
                <rect x="0.5" y="7" width="16" height="2"/>
                <rect x="7.5" width="2" height="16"/>
              </svg>
              <div class="section-tag_label">New Generation of Storytelling</div>
            </div>
            <h2 class="section-title">Immersive<span>exploration</span></h2>
          </div>
          <div class="home-exploration_component">
            <div class="home-exploration_content">
              <div class="home-exploration_texts">
                <div class="home-exploration_text-block _1" style="will-change: opacity; opacity: 1;">
                  <div class="home-exploration_text-heading">
                    <h3 class="heading-style-h4 text-color-subheading">General view</h3>
                  </div>
                  <p>Say goodbye to old photos. Simplify the sales process and help to evaluate your sales storytelling to new heights</p></div>
                <div class="home-exploration_text-block _2">
                  <div class="home-exploration_text-heading"><h3 class="heading-style-h4 text-color-subheading">Next</h3></div>
                  <p>Content</p></div>
              </div>
              <div class="home-exploration_progress">
                <div class="home-exploration_progress-line active"></div>
                <div class="home-exploration_progress-line"></div>
              </div>
            </div>
          </div>
          <div class="home-exploration_mockup">
            <img src="../images/design/laptop-closed.png" alt="#" style="display: none;">
            <img src="../images/design/laptop-halfway.png" alt="#" style="display: none;">
            <img src="../images/design/laptop-opened.png" alt="#" style="">
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

