<section tr-scrollflip-scrubend="top top" class="section_home-intro">
  <div class="padding-global">
    <div class="container-medium">
      <div class="home-intro_component">

        <h2 class="home-intro_title">New generation of storytelling</h2>

        <div class="home-intro_text">
          Sales start with emotion. Say goodbye to old
              photos. Simplify the sales process and help to evaluate your sales storytelling to new heights.
        </div>
      </div>
    </div>
  </div>
  {#<div class="padding-section-xlarge hide-tablet"></div>#}
</section>
