.section_home-immersive {
  .container {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    width: 100%;
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.home-immersive {

  &_sticky-wrapper {
    width: 100%;
    height: 190rem;
    margin-bottom: -20rem;
    position: relative;
  }

  &_sticky {
    width: 100%;
    height: 100vh;
    position: sticky;
    top: 0;
    overflow: hidden;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 1;
      z-index: -1;
      background: fixed top -350px right calc(50% - 300px) no-repeat url("../images/design/bg-immersive.png"), #000;
    }
  }

  &_frame {
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
    border-style: solid;
    border-color: black;
    border-radius: 20px;
  }

  &_component {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  &_video {
    display: none;
    border-radius: 1rem !important;
    width: calc(100% - 2rem);
    object-fit: cover;
    position: absolute;
    top: 1rem;
    left: 1rem;
    height: calc(100vh - 2rem);
  }

  &_head {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .section-title {
      margin: 0;

      &.active {
        width: 100%;
        height: 100vh;
        background: #000;
        margin: 0;
        color: #fff;
        mix-blend-mode: multiply;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        overflow: hidden;

        span {
          color: #fff;
        }
      }
    }

    .section-tag {
      &.active {
        margin: 0;
      }
    }
  }

  &_text-block {
    padding: 10px;

    margin-left: auto;
    max-width: 360px;
    z-index: 5;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      border-radius: 10px;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0.4;
      backdrop-filter: blur(10px) saturate(70%);
      z-index: -1;
      background: #000;
    }

    h2 {
      margin-bottom: 20px;
      font-size: 44px;
      letter-spacing: -0.03em;
    }

    p {
      font-size: 18px;
      letter-spacing: -0.03em;
      color: #D6D0E0;
    }
  }
}

@media screen and (max-width: 991px) {
  .section_home-immersive {


    .container {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

  .home-immersive {

    &_sticky-wrapper {
      height: auto;
      margin-bottom: 0;
    }

    &_sticky {
      width: 100%;
      height: auto;
      position: relative;

      &:before {
        background: fixed top -350px right calc(50% - 300px) no-repeat url("../images/design/bg-immersive.png"), #000;
      }
    }

    &_frame {
      display: none;
    }

    &_component {
      padding-top: 2rem;
      padding-bottom: 2rem;
      flex-direction: column-reverse;
      height: auto;
    }

    &_video {
      display: block;
      width: calc(100% - 2rem);
      position: static;
      height: auto;
    }

    &_head {
      margin-bottom: 2rem;
    }

    &_text-block {
      padding: 2rem 0;
      margin-left: 0;

      &:before {
        content: none;
      }

    }
  }
}


