.section_home-grid {
  //background: center center no-repeat url("../images/design/bg-grid.png"), #000;
  background-color: #0C0614;

  background-image: linear-gradient(to bottom, rgba(209, 229, 254, 0.1) 1px, transparent 1px);
  background-position: bottom left;
  background-repeat: no-repeat;
  position: relative;
  .container {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    width: 100%;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;

    background-image: url("../images/design/cross.svg"),
    url("../images/design/cross.svg"),
    linear-gradient(to right, rgba(209, 229, 254, 0.1) 1px, transparent 1px),
    linear-gradient(to left, rgba(209, 229, 254, 0.1) 1px, transparent 1px);

    background-position: bottom  right calc(100% - 36px),
    bottom  left calc(100% - 36px),
    top right -40px,
    top left -40px;

    background-repeat: no-repeat,
    no-repeat,
    no-repeat,
    no-repeat;
  }

  .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -500px;
    left: -350px;
    pointer-events: none;
  }

  .bg-first {
    position: absolute;
    width: 1634.56px;
    height: 537.77px;
    left: -616.22px;
    top: 21.71px;

    background: radial-gradient(50% 50% at 50% 50%, rgba(77, 23, 230, 0.5) 0%, rgba(16, 9, 25, 0) 100%);
    mix-blend-mode: screen;
    transform: rotate(21.72deg);
  }

  .bg-second {
    position: absolute;
    width: 1491.22px;
    height: 443.16px;
    left: -353.48px;
    top: 241px;

    background: radial-gradient(50% 50% at 50% 50%, rgba(218, 32, 248, 0.2) 0%, rgba(161, 23, 230, 0) 100%);
    mix-blend-mode: screen;
    transform: rotate(27.78deg);
  }

}


.home-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  &_head {
    padding-top: 178px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &_sticky-wrapper {
    width: 100%;
    height: 250rem;
    position: relative;
  }

  &_sticky {
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    position: sticky;
    top: 0;
    padding: 7rem 0;
  }

  &_component {

  }


}

.home-grid_component {
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  z-index: 5;
  overflow: hidden;

  div {
    border-radius: 1rem;
    border: 1px solid forestgreen;
    img, video {
      display:block;
      border-radius: 1rem !important;
      width:100%;
      height:100%;

      /* Scale video to container size */
      object-fit: cover;
      object-position: center;
      position: static;
    }
  }

  .grid-first {
    transform: translateY(-100%);
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    margin-right: 40px;

    &_top {
      height: 100%;
      background-color: #2c0052;
    }
    &_bottom {
      transform: translateY(40px);
      display: none;
      background-color: #1e7bfa;
    }
  }
  .grid-second {
    transform: translateY(-140%);
    height: 100%;
    width: 40%;
    flex-shrink: 1;
    margin-right: 40px;
  }
  .grid-third {
    transform: translateY(-180%);
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;

    &_top {
      display: none;
      background-color: #2c0052;
      transform: translateY(-40px);
    }
    &_bottom {
      height: 100%;
      background-color: #1e7bfa;
    }
  }
  .grid-fourth {
    width: 0;
    display: none;
  }
  .grid-fifth {
    width: 0;
    display: none;
  }
  .grid-sixth {
    width: 0;
    display: none;
  }
  .grid-seventh {
    width: 0;
    display: none;
  }

}



@media screen and (max-width: 991px) {

}



@media screen and (max-width: 767px) {

}

@media screen and (max-width: 479px) {

}
