.section-title {
  margin-bottom: 48px;
  text-align: center;
  font-family: "Noto Sans Display", sans-serif;
  font-size: 86px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: rgb(229, 209, 254);

  span {
    display: block;
    color: rgb(177, 104, 251)
  }
}

.section-tag {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #E5D1FE;

  &_label {
    letter-spacing: .1em;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.5;
  }
}

.section-description {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  color: rgb(214, 208, 224);
  font-size: 24px;
  font-weight: 300;
  line-height: 33px;
  letter-spacing: -0.03em;
  text-align: center;
}

.section_home-record {
  background-color: #0C0614;
  background-image: linear-gradient(to bottom, rgba(209, 229, 254, 0.1) 1px, transparent 1px);
  background-position: bottom -104px left;
  background-repeat: no-repeat;
  margin-top: -1.5rem;
  z-index: 10;
  position: relative;

  .container {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    width: 100%;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../images/design/cross.svg"),
    url("../images/design/cross.svg"),
    linear-gradient(to right, rgba(209, 229, 254, 0.1) 1px, transparent 1px),
    linear-gradient(to left, rgba(209, 229, 254, 0.1) 1px, transparent 1px);

    background-position: top 100px right calc(100% - 36px),
    top 100px left calc(100% - 36px),
    top right -40px,
    top left -40px;

    background-repeat: no-repeat,
    no-repeat,
    no-repeat,
    no-repeat;
  }

  .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  .bg-first {
    position: absolute;
    width: 692px;
    height: 649px;
    left: calc(50% - 692px / 2 - 241px);
    top: -52px;

    background: radial-gradient(50% 50% at 50% 50%, rgba(32, 54, 248, 0.3) 0%, rgba(45, 16, 162, 0.1455) 51.5%, rgba(0, 61, 81, 0) 100%);
    z-index: 1;
  }

  .bg-second {
    z-index: 2;
    position: absolute;
    width: 2010.16px;
    height: 272.91px;
    left: calc(50% - 2010.16px / 2 - 277.75px);
    top: 81.39px;

    background: radial-gradient(50% 50% at 50% 50%, rgba(218, 32, 248, 0.2) 0%, rgba(94, 14, 157, 0.1) 50%, rgba(2, 0, 86, 0) 100%);
    transform: rotate(33deg);
  }

  .bg-third {
    z-index: 3;
    position: absolute;
    width: 788.02px;
    height: 160.58px;
    left: calc(50% - 788.02px / 2 - 228.9px);
    top: 168.82px;

    background: radial-gradient(50% 50% at 50% 50%, rgba(230, 23, 230, 0.25) 0%, rgba(45, 16, 162, 0.1) 50%, rgba(2, 0, 86, 0) 100%);
    transform: rotate(11.79deg);
  }
}

.home-record {
  padding-top: 258px;
  padding-bottom: 115px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  &_head {
    position: relative;
    margin-bottom: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &_body {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 40px;

    .block {
      display: flex;
      flex-direction: column;
      gap: 40px;

      &_title {
        padding-left: 20px;
        margin-top: auto;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 110%;
        letter-spacing: -0.03em;
        color: #FFFFFF;
      }

      &_control, &_weather {
        padding: 20px;
        width: 340px;
        height: 340px;
        border-radius: 24px;
        flex-direction: column;
        align-items: center;
        display: flex;
        position: relative;
        overflow: hidden;
        background-color: #B168FB;

      }

      &_control {

      }

      &_weather {
        padding-top: 44px;
        padding-bottom: 23px;
        background: linear-gradient(210.53deg, rgba(161, 23, 230, 0.25) 7.8%, rgba(140, 32, 248, 0.1) 92.58%);
        border-radius: 24px;
      }

      &_weather-selector {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 23px;
      }


      &_time-selector {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      &_time-current {
        font-family: 'Mabry Pro', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 24px;
        color: #FFFFFF;
        text-shadow: 0 3px 7px rgba(0, 0, 0, 0.15);
      }

      &_time-track {
        position: relative;
        top: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .video-container {
      flex: 1 1 100%;
      position: relative;
      overflow: hidden;
      transform: translateZ(0); //Fix border radius for safari
    }

    .video-container video {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;

      border-radius: 24px !important;
    }
  }

}


@media screen and (max-width: 991px) {

}

@media screen and (max-width: 767px) {
}

@media screen and (max-width: 479px) {

}
