

.loader {
  z-index: 999;
  width: 100vw;
  height: 100dvh;
  background-color: #100919;
  justify-content: center;
  align-items: center;
  display: none;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;

  &_lottie {
    z-index: 5;
    width: 3.75rem;
    position: relative;
  }
}
