.navbar_wrapper {
  z-index: 99;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #0C0614;
  color: #F5F5F5;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 30px;
    height: 90px;
    padding: 40px 43px 11px;
  }

  button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: inherit;
  }

  .btn {
    display: block;
    background: linear-gradient(to top right,#b320f8,#691392);
    color: #fff;
    text-align: center;
    padding: 16px 30px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
  }
}


.menu {
  position: relative;
}

.menu-bar li:first-child .dropdown {
  flex-direction: initial;
  min-width: 480px;
}

.nav-start,
.nav-end,
.menu-bar {
  display: flex;
  align-items: center;
  gap: 32px;
}

.dropdown {
  display: flex;
  flex-direction: column;
  min-width: 230px;
  background-color: var(--white);
  border-radius: 10px;
  position: absolute;
  top: 36px;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transform: scale(0.97) translateX(-5px);
  transition: 0.1s ease-in-out;
  box-shadow: var(--shadow);
}

.dropdown.active {
  visibility: visible;
  opacity: 1;
  transform: scale(1) translateX(5px);
}

.dropdown ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1.2rem;
  font-size: 0.95rem;
}

.dropdown-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.15rem;
}

.dropdown-link {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem 0;
  border-radius: 7px;
  transition: 0.1s ease-in-out;
}

.dropdown-link p {
  font-size: 0.8rem;
  color: var(--medium-grey);
}

.right-container {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.right-container .search {
  position: relative;
}

.right-container img {
  border-radius: 50%;
}

.search input {
  background-color: var(--ash);
  border: none;
  border-radius: 6px;
  padding: 0.7rem;
  padding-left: 2.4rem;
  font-size: 16px;
  width: 100%;
  border: var(--border);
}

.search .bx-search {
  position: absolute;
  left: 10px;
  top: 50%;
  font-size: 1.3rem;
  transform: translateY(-50%);
  opacity: 0.6;
}

#hamburger {
  display: none;
  padding: 0.1rem;
  margin-left: 1rem;
  font-size: 1.9rem;
}

@media (max-width: 1100px) {
  #hamburger {
    display: block;
  }

  .container {
    padding: 1.2rem;
  }

  .menu {
    display: none;
    position: absolute;
    top: 87px;
    left: 0;
    min-height: 100vh;
    width: 100vw;
  }

  .menu-bar li:first-child ul:nth-child(1) {
    border-right: none;
    border-bottom: var(--border);
  }

  .dropdown {
    display: none;
    min-width: 100%;
    border: none !important;
    border-radius: 5px;
    position: static;
    top: 0;
    left: 0;
    visibility: visible;
    opacity: 1;
    transform: none;
    box-shadow: none;
  }

  .menu.show,
  .dropdown.active {
    display: block;
  }

  .menu-bar {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    row-gap: 30px;
    padding: 10px 0;
  }

  .menu-bar .nav-link {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: 600;
    font-size: 1.2rem;
    margin: 0;
  }

  .menu-bar li:first-child .dropdown {
    min-width: 100%;
  }

  .menu-bar > li:not(:last-child) {
    padding-bottom: 0.5rem;
    border-bottom: var(--border);
  }
}

@media (max-width: 600px) {
  .right-container {
    display: none;
  }
}


/*
.navbar_wrapper {
  z-index: 99;
  width: 100%;
  position: fixed;
  top: 0;
}

.navbar {
  z-index: 99;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  background-color: #0C0614;
  color: #F5F5F5;

  &_component {
    justify-content: center;
    align-items: center;
    display: flex;
  }

  &_mobile-blur {
    display: none;
  }

  &_logo-wrap {
    z-index: 101;
    margin-right: auto;
    transition: opacity .2s;
    position: relative;

    &:hover {
      opacity: .7;
    }
  }

  &_logo {
    width: 9.5rem;
    color: var(--white);
    display: flex;
  }

  &_content {
    grid-column-gap: 2.5rem;
    justify-content: flex-end;
    align-items: stretch;
    display: flex;
  }

  &-top-spacing {
    display: none;
  }

  &_links {
    grid-column-gap: 2.5rem;
    justify-content: flex-end;
    align-items: flex-start;
    display: flex;
  }

  &_button-wrap {
    justify-content: center;
    align-items: center;
    display: flex;
  }

  &_menu-hambuger {
    z-index: 101;
    width: 2.5rem;
    height: 2.5rem;
    grid-row-gap: .5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
    position: relative;
  }

  &_light-bg-line-wrap {
    z-index: -1;
    width: 100%;
    opacity: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    display: none;
    position: absolute;
    top: -6.25rem;
  }

  &_light-bg-line {
    width: 100%;
    max-width: 81rem;
    position: relative;
  }

  &_bg-dropdown {
    z-index: 1;
    background-color: #0C0614;
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &_bg-scroll {
    z-index: 1;
    background-color: #0C0614;
    opacity: 0;
    transition: opacity .2s;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.menu {

  &_dropdown {
    height: 114%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: flex;

  }

  &_dropdown-label {
    cursor: default;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    top: -7%;
  }

  &_link {
    color: #fff;
    letter-spacing: .1em;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;

    &._2 {
      position: absolute;
      top: 100%;
    }
  }

  &_dropdown-arrow {
    width: .75rem;
    color: var(--white);
    justify-content: center;
    align-items: center;
    margin-left: 4px;
    display: flex;
  }

  &_drop-wrapper {
    z-index: 10;
    width: 100%;
    display: none;
    position: absolute;
    top: 100%;
    bottom: auto;
    left: 0;
    right: 0;

    &.menu-show {
      display: block;
    }
  }

  &_link-wrap {
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    position: relative;
    overflow: hidden;
  }


}

.button {
  z-index: 5;
  grid-column-gap: .625rem;
  color: #fff;
  text-align: center;
  letter-spacing: .1em;
  background: linear-gradient(to top right, #B320F8, #691392);
  border-radius: .5rem;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  display: flex;
  position: relative;
  overflow: hidden;

  &_text {
    z-index: 1;
    position: relative;
  }

  &_glow {
    width: 25%;
    height: 60%;
    filter: blur(30px);
    background-color: #dab5ff;
    position: absolute;
    top: -10%;
    bottom: auto;
    left: -10%;
    right: auto;
  }
}

.show-tablet {
  display: none;
}
@media only screen and (max-width: 992px) {
  .navbar_content > .navbar_button-wrap {
    display: none !important;
  }
}

@media screen and (max-width: 991px) {
  .navbar {
    &_component {
      overflow: hidden;
    }

    &_mobile-blur {
      z-index: 100;
      height: 0;
      opacity: 1;
      background-image: linear-gradient(#100919 45%, rgba(16, 9, 25, 0));
      padding: 0;
      display: flex;
      position: fixed;
      top: 0;
      bottom: auto;
      left: 0;
      right: 0;
    }

    &_logo-wrap {

      &:hover {
        opacity: 1;
      }
    }

    &_content {
      z-index: 99;
      width: 100%;
      height: 100vh;
      grid-row-gap: 1.5rem;
      background-color: var(--dark);
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 0 1rem 1.5rem;
      display: none;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      overflow: auto;
    }

    &-top-spacing {
      min-height: 10rem;
      flex: 1;
      padding: 0;
      display: block;
    }

    &_links {
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
    }

    &_button-wrap {
      width: 100%;
    }



    &_menu-hambuger {
      margin-right: -.5rem;
      display: flex;
    }
  }

  .menu {

    &_dropdown {
      width: 100%;
      height: auto;
      border-bottom: 1px solid #403054;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      padding-top: 1.5rem;
      overflow: hidden;
    }

    &_dropdown-label {
      width: 100%;
      justify-content: space-between;
      align-items: stretch;
      padding-top: 0;
      padding-bottom: 1.5rem;
      position: static;
      top: 0%;
    }

    &_link {
      font-size: 1.375rem;
      line-height: 1.2;
    }

    &_drop-wrapper {
      display: none;
      position: relative;
      top: auto;
      left: auto;
      right: auto;
    }

    &_link-wrap {
      width: 100%;
      border-bottom: 1px solid #403054;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
    }
  }

  .hide-tablet {
    display: none;
  }

  .show-tablet {
    display: block;
  }

  .button {
    &_glow {
      display: none;
    }
  }
}

@media screen and (max-width: 767px) {
  .navbar {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;

    &_content {
      background-color: #100919;
    }

    &-top-spacing {
      padding: 0;
    }

    &_button-wrap {
      flex-direction: column;
      align-items: stretch;
    }
  }

  .menu {
    &_dropdown {
      width: 100%;
      border-bottom: 1px solid #403054;
      justify-content: flex-start;
    }
  }
}

@media screen and (max-width: 479px) {
  .product-dropdown-style {
    display: none;
  }
}
*/
