/**
 * Fonts
*/


@font-face {
  font-family: 'Mabry Pro';
  src: url("../fonts/MabryPro-Bold.eot?") format("eot"),
  url("../fonts/MabryPro-Bold.woff") format("woff"),
  url("../fonts/MabryPro-Bold.woff2") format("woff2"),
  url("../fonts/MabryPro-Bold.ttf") format("truetype");
  font-style: normal;
}
